/*global*/
:root {
    /*    color*/

    --color-dark-pink: #ff6863;
    --color-pink: #FF85B1;
    --color-dark-grey: #4d4d4d;
    --color-light-grey: #7c7979;
    --color-grey: #616161;
    --color-blue: #73aace;
    --color-light-blue:#bffbff;
    --color-yellow: #fff7d1;
    --color-black: #000000;
    --color-orange: #feb546;
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    /*    font size*/
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /*    font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    /*    size */
    --size-border-radius: 4px;
    /*    Universal tag*/
    --box-sizing: border-box
    /*  even if i add padding, width and height of box will be same size.    */
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    box-sizing: var(--box-sizing);
}

a{
    text-decoration: none;
    color: var(--color-white);
}


ul{
    list-style: none;
    padding-left: 0;
}
button{
    background-color:transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/*Typography*/
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}


#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-pink);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}
.navbar__logo{
    align-items: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    /*align-items: baseline;*/
}
.navbar__menu{
    display: flex;
}
.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    color: var(--color-white);
    border-radius: var(--size-border-radius);
}
.navbar__menu__item:hover{
    background-color: var(--color-dark-pink);
    border-radius: var(--size-border-radius);

}

.navbar__toggle-btn{
    position: absolute;
    right: 32px;
    top: 24px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
/*    opacity 를 사용하면, 커서를 대면, 여전히 클릭이 되므로, display:none 이 좋음*/
}
/*nav bar active (cursor clicked)*/

/*.rightNav-list.active{*/
/*    border: 1px solid var(--color-white) ;*/
/*    border-radius: var(--size-border-radius);*/
/*}*/


/*Home*/
#home{
    background-image: url("../imgs/background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
    text-align: center;
}
.home_avatar{
    border-radius: 10%;
    width: 250px;
    height: 250px;
    border: 2px solid #00C9A8;
}
.intro, .intro-detail{
    /*color: #EEEDFF*/
    color: var(--color-white);
}
.home__contact{
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-light-blue);
    border-radius: 25%;
}

/*section common*/
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}
.section__container{
    max-width: 1200px;
    margin: auto;
}
/*max-width 를 1200 으로 맞췄을떄, text align 을 해도 한쪽으로 기울어 있는데,
그건 마진이 오른쪽에만 있어서 그런거임, 이럴땐, margin: auto 를 해주면 마진이 양쪽으로
분배가 되서, 컨텐츠가 한 가운데로 옴*/



                        /*about me*/
.aboutMe-lists{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;

}
.aboutMe-list{
    flex-basis: 33.3%
/*    flexbox 의 정확한 3등분*/
}
.aboutMe-img{
    width: 170px;
    height: 170px;
    line-height: 170px;
    /*line-height 을 높이만큼 지정 해 주면, 컨텐츠가, 그 백그라운드의 한 중간에 옴*/
    font-size: 70px;
    color: var(--color-blue);
    /*icon은 폰트와 같이 treat 되므로, 폰트 사이즈와 칼라로, 사이즈나 칼라 조정,*/
    /*background-color: yellow;*/
    /*아이콘을 디자인 할때는 이렇게 임의로 백그라운드를 지정하면 훨씬 쉽게 디자인 가능,*/
    margin: auto;
    border: solid 1px var(--color-blue);
    border-radius: 50%;
    }
.aboutMe-img:hover i{
    /*hover 만 하면 보더랑 전체가 다 영향받지만, i 을 넣어 줌으로써, 마우스가 i
    에 갔을떄만 적용 됨*/
    /*만약 .aboutMe-img i: hover   로 하면, 마우스 커서가 그 아이콘에 닿아야만이
    트랜스폼이 되는데. 그걸 원하는게 아니라, 우리는 보더 안에 가면 바로, 바뀌게끔 하는것.*/
    color: var(--color-pink);
    transform: scale(1.5) rotate(-30deg);
/*    transform 은 scale 은1.5배 정도 크게 바뀜, 그리고 rotate 왼쪽으로 30도 정도 돔*/
}
.aboutMe-img i{
    transition: all 300ms ease;
/*  에니메이션 모든 속성값에 , 250ms ~ 350ms 이 가장 좋은 타이밍,   */
}

.aboutMe-list-title, .aboutMe-list-description{
    color: var(--color-dark-grey);
}
.aboutMe-list-description{
    font-size: var(--font-small)
}
.aboutMe-school{
    display: flex;
    align-items: center;
}

.aboutMe-school-info{
    margin: 0 16px;
    text-align: center;
}
.aboutMe-school-detail, .aboutMe-school-date{
    color: var(--color-dark-grey);
}
.aboutMe-school-detail{
    font-size: var(--font-small);
}
.aboutMe-school-date{
    font-size: var(--font-micro);
}

                    /*skill set*/
#skill{
    background-color: var(--color-yellow);
}

.skillset{
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}
.skillset-title{
    color: var(--color-white);
}
.skillset-left{
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}
.skill{
    margin-bottom: 32px;
}
.skill__description{
     display: flex;
     justify-content: space-between;
 }
.skill__bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill__value{
    width: 100%;
    height: 3px;
    background-color: var(--color-orange);

}
.skillset-right{
    flex-basis: 40%;

}
.tools{
    background-color: var(--color-grey);
}
.tools, .etc{
    padding: 20px;
}
.skill__description li{
    padding-bottom: 10px;
}

                /*work*/
.category-btn{
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}
.work__categories{
    margin: 40px;
}
.category-btn.active,
.category-btn:hover{
    background-color: var(--color-pink);
    color: var(--color-white)
}
/*category-btn 에 active 라는 클래스가 있거나, 마우스가 호버 할떄.*/
.category-count{
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    display: inline-block;
/*    display: inline-block 을 해주기 전엔, 숫자는 span 이라서
필요한 공간만 쓰기 때문에, 타원형의 모습을 띔,
이걸 바꿔주기 위해서, display 를 바로 inline-block 으로 바꿔주는 거임.*/
    line-height: 24px;
/*    숫자가 중간에 오지 않으므로 인라인 하잇을 컨테이너의 하잇에 맞춰줌,*/
    margin-left: 5px;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all 300ms ease;
}
.category-btn.active .category-count,
.category-btn:hover .category-count{
    opacity: 1;
    top: 0;
/*    top이 0으로 돌아 가는건, 위에 -20에서 제자리로 돌려주는것 */
/*    버튼이 엑티브 하거나, 버튼에 마우스가 호버했을떄,
카테고리 카운트의 에니메이션 이펙트. */
}

.work-projects{
    display: flex;
    flex-wrap: wrap;
/*    화면 사이즈가 줄면, 자연스럽게 아래로 내려가게 됨.*/
    justify-content: center;
}
.project-img{
    max-width: 100%;
    max-height: 100%;
}
.project{
    width: 250px;
    height: 200px;
    margin: 2px;
    background-color: var(--color-light-white);
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;

}
.project-description{
    position: absolute;
/*    그냥 포지션 엡솔루트에 놓으면, position: static (default)가
아닌 부모의 위치에서 지정된 값만큼 움직이므로, 지금 바디의 가장 위에 있음.*/
/*    그렇기 때문에, 바로위 부모인, .project 를 static 이 아닌,
relative 로 바꿔 줄꺼임 */
/*    바로 위 프로젝트는 변하는게 없지만, 프로젝트 안에 담겨있는
  프로젝트 디스크립션은, 프로젝트가 포지션이 스테틱이 아닌, 릴레이티브인걸
  발견하고, 프로젝트 안에서 엡솔루트 포지션을 정하게 됨.
 */
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all 300ms ease;
    transform: translateY(10px);
}
.project:hover .project-description{
    /*project 에 마우스가 호버 됬을떄, 프로젝트 디스크립션이..*/
    opacity: 0.8;
    transform: translateY(0px);
}
.project-description h3{
    color: var(--color-white);
}

.project-description h3:after{
    content:"";
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    background-color: var(--color-dark-white);
    margin-left: -12px;
    margin-top: 8px;
}


            /*testimonial*/
#testimonials{
    background-color: var(--color-light-white);
}
.testimonials{
    margin: 40px;
}
.testimonial{
    display: flex;
    margin: 20px;

}
.testimonial-avatar{
     width: 150px;
    height: 150px;
    border-radius: 50%;
}
.testimonial-avatar:nth-child(odd){
    margin-right: 40px;
}
.testimonial-avatar:nth-child(even){
    margin-left: 40px;
}
.testimonial_speech-bubble{
    background-color: var(--color-white);
    padding: 20px;
    border-radius: var(--size-border-radius)
}
.testimonial_speech-bubble p{
    color: var(--color-light-grey);
}
.testimonial_speech-bubble a{
    color: var(--color-pink);
}

            /*contact*/
#contactMe{
    background-color: var(--color-pink);
}
.contact__title, .contact__email, .contact__rights{
    color: var(--color-white);
}
.contact__title{
    margin: 32px 0;
}
.contact__links{
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all 350ms ease-in;
}
.contact__links a :hover{
    transform: scale(1.5);
    color: var(--color-light-blue);
}

        /*for media query*/
/*below 768px screen width*/
@media screen and (max-width: 768px){
    .navbar__toggle-btn{
    display: block;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    .aboutMe-lists{
        flex-direction: column;
    }
    .aboutMe-list{
        margin-bottom: 38px;
    }
    .skill{
        flex-direction: column;
    }
    .skillset{
        flex-direction : column;
    }
    .work-projects {
        flex-grow: 1
    }
    .testimonial-avatar{
        width: 80px;
        height: 80px;
    }
git
}