/*global*/
:root {
    /*    color*/
    --color-pink: #FF85B1;
    --color-dark-grey: #4d4d4d;
    --color-light-grey: #7c7979;
    --color-grey: #616161;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-black: #000000;
    --color-orange: #feb546;
    --color-white: #ffffff;
    /*    font size*/
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /*    font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    /*    size */
    --size-border-radius: 4px;
    /*    Universal tag*/
    box-sizing: border-box
    /*  even if i add padding, width and height of box will be same size.    */
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-white);

}
ul{
    list-style: none;
    padding-left: 0;
}
button{
    background-color:transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/*Typography*/
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}


#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-pink);
    align-items: center;
}
.leftNav{
    align-items: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    /*align-items: baseline;*/
}
.rightNav{
    display: flex;
}
.rightNav-list__a{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
}
/*nav bar active (cursor clicked)*/

/*.rightNav-list.active{*/
/*    border: 1px solid var(--color-white) ;*/
/*    border-radius: var(--size-border-radius);*/
/*}*/


/*Home*/
#home{
    background-image: url("imgs/background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
    text-align: center;
}
.home_avatar{
    border-radius: 10%;
    width: 250px;
    height: 250px;
    border: 2px solid #00C9A8;
}
.intro, .intro-detail{
    /*color: #EEEDFF*/
    color: var(--color-white);
}
.home__contact{
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid #BFFBFF;
    border-radius: 25%;
}

/*section common*/
.section{
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
/*max-width 를 1200 으로 맞췄을떄, text align 을 해도 한쪽으로 기울어 있는데,
그건 마진이 오른쪽에만 있어서 그런거임, 이럴땐, margin: auto 를 해주면 마진이 양쪽으로
분배가 되서, 컨텐츠가 한 가운데로 옴*/
}
.aboutMe-lists{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.aboutMe-img{
    width: 170px;
    height: 170px;
    line-height: 170px;
    /*line-height 을 높이만큼 지정 해 주면, 컨텐츠가, 그 백그라운드의 한 중간에 옴*/
    font-size: 70px;
    color: var(--color-blue);
    /*icon은 폰트와 같이 treat 되므로, 폰트 사이즈와 칼라로, 사이즈나 칼라 조정,*/
    /*background-color: yellow;*/
    /*아이콘을 디자인 할때는 이렇게 임의로 백그라운드를 지정하면 훨씬 쉽게 디자인 가능,*/
    margin: auto;
    border: solid 1px var(--color-blue);
    border-radius: 50%;
    }
.aboutMe-img:hover i{
    /*hover 만 하면 보더랑 전체가 다 영향받지만, i 을 넣어 줌으로써, 마우스가 i
    에 갔을떄만 적용 됨*/
    /*만약 .aboutMe-img i: hover   로 하면, 마우스 커서가 그 아이콘에 닿아야만이
    트랜스폼이 되는데. 그걸 원하는게 아니라, 우리는 보더 안에 가면 바로, 바뀌게끔 하는것.*/
    color: var(--color-pink);
    transform: scale(1.5) rotate(-30deg);
/*    transform 은 scale 은1.5배 정도 크게 바뀜, 그리고 rotate 왼쪽으로 30도 정도 돔*/
}
.aboutMe-img i{
    transition: all 300ms ease;
/*  모든 속성값에 , 250ms ~ 350ms 이 가장 좋은 타이밍,   */
}

.aboutMe-list-title, .aboutMe-list-description{
    color: var(--color-dark-grey);
}
.aboutMe-list-description{
    font-size: var(--font-small)
}
.aboutMe-school{
    display: flex;
    align-items: center;
}

.aboutMe-school-info{
    margin: 0 16px;
    text-align: center;
}
.aboutMe-school-detail, .aboutMe-school-date{
    color: var(--color-dark-grey);
}
.aboutMe-school-detail{
    font-size: var(--font-small);
}
.aboutMe-school-date{
    font-size: var(--font-micro);
}




